.aboutContainer {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.aboutMe {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(60deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.aboutMeImage {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.aboutMeImage:hover {
    transform: rotate(0deg);
}

.hidden{
    display: none;
}

.aboutCards {
    display: grid;
    /* CHANGE BACK BETWEEN THEM ONCE GET CLIENTS */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.aboutCard {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    transition: var(--transition);
}

.aboutCard:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.aboutIcon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.aboutCard h5 {
    font-size: 0.95rem;
    color: var(--color-white);
}

.aboutCard small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.aboutContent p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    text-align: justify;

}

/*  MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .aboutContainer { 
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
    }

    .aboutMe {
         width: 50%;
         margin: 2rem auto 4rem;
    }
    
    .aboutContent p {
        margin: 1rem 0 1.5rem;
    }
}

/*  MEDIA QUERIES (SMAIL DEVICES) */

@media screen and (max-width: 600px) {
    .aboutCards { 
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .aboutMe {
         width: 65%;
         margin: 0 auto 3rem;
    }
    
    .aboutContent p {
        margin: 1.5rem 0;
    }
    .aboutContent {
        text-align: center;
    }
}