.container.testimonialsContainer {
    width: 40%;
    padding-bottom: 4rem;
}

.clientsAvatar {
    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 2px solid var(--color-primary);
}

.testimonial {
    text-align: center;
    padding: 2rem;
    user-select: none;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
}

.testimonial:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    transition: var(--transition);

}

.clientName {
    color: var(--color-wight);
}

.clientReview {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/*  MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .container.testimonialsContainer {
        width: 60%;
    }
}

/*  MEDIA QUERIES (SMAIL DEVICES) */

@media screen and (max-width: 600px) {
    .container.testimonialsContainer {
        width: var(--container-width-sm);
    }

    .clientReview {
        width: var(--container-width-sm);
    }
}